*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #0e1029;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
